/msvs project.x64.exp
/msvs project.x64.ilk
/msvs project.x64.lib
/msvs project.x64.pdb
/NativePythonInterpreter.x64.exp
/NativePythonInterpreter.x64.ilk
/NativePythonInterpreter.x64.lib
/NativePythonInterpreter.x64.pdb
/NativePythonInterpreter.exp
/NativePythonInterpreter.ilk
/NativePythonInterpreter.lib
/NativePythonInterpreter.pdb
